<header class="relative z-10 py-4 bg-white shadow-md dark:bg-gray-800">
  <div class="container flex items-center justify-between h-full px-6 mx-auto text-indigo-500 dark:text-indigo-300">

    <!-- Hamburger toggler [mobile] -->
    <button class="p-1 mr-5 -ml-1 rounded-md focus:outline-none focus:shadow-outline-indigo"
      (click)="toggleSidebar.emit()" aria-label="Menu" #toggleBtn>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <app-search></app-search>

    <!-- Actions -->
    <ul class="flex items-center flex-shrink-0 space-x-6">

      <app-theme-toggler></app-theme-toggler>
      <app-notifications></app-notifications>
      <app-profile></app-profile>

    </ul>

  </div>
</header>
