<main>
  <div class="container px-6 mx-auto">

    <!-- Title -->
    <h2 class="my-6 flex items-center text-2xl font-semibold text-gray-700 dark:text-gray-200">
      <i [attr.data-eva]="'file-text-outline'" class="w-6 h-6 mr-2 fill-current"></i>
      Budgets
    </h2>

    <div class="flex flex-col-reverse items-end sm:flex-row sm:items-center sm:justify-between mb-8">
      <form  #f="ngForm" class="flex items-center mt-6 sm:my-0">
        <app-input-select
          [id] = "'client'"
          [form]="f"
          [(value)] = "clientID"
          (valueChange)="filterByClient()"
          [optionsObj]="clients"
        ></app-input-select>

        <app-input-select
          [classList]="'ml-2'"
          [id] = "'project'"
          [form]="f"
          [(value)] = "projectID"
          (valueChange)="filterByClientAndProject()"
          [optionsObj]="projects"
        ></app-input-select>
      </form>

      <!-- Add budget btn -->
      <button class="px-5 py-3 float-right flex items-center justify-between text-sm font-medium leading-5 text-white
                    transition-colors duration-150 bg-indigo-500 border border-transparent rounded-lg
                    active:bg-indigo-600 hover:bg-indigo-600 focus:outline-none focus:shadow-outline-indigo"
              [routerLink]="'add'">
        <span>Create budget</span>

        <i [attr.data-eva]="'file-add'" class="w-5 h-5 ml-2 fill-current"></i>
      </button>
    </div>

    <!-- Budgets Table -->
    <app-table
      [id]="'budgets-table'"
      [classList]="'mb-8'"
      [headers]="headers"
      [data]="data"
      [options]="tableOptions"
      [loading]="loading"
      (btnClicked)="doAction('btn-clicked', $event.row, $event.col)"
      (viewBtnClicked)="doAction('view', $event)"
      (editBtnClicked)="doAction('edit', $event)"
      (deleteBtnClicked)="doAction('delete', $event)">
    </app-table>

  </div>
</main>

<ng-container *ngIf="isModalOpen">
  <app-modal
    [isModalOpen]="isModalOpen"
    [id]="'delete-budget-modal'"
    [title]="'Delete budget'"
    [description]="'Are you sure you want to delete budget #' + budgetToDelete.id + '? You won\'t be able to undo this action.'"
    [positiveBtnText]="'Delete'"
    [positiveBtnColor]="'red'"
    (positiveBtnClicked)="deleteBudget(budgetToDelete)"
    (closeBtnClicked)="isModalOpen = false"
    [actionInProgress]="deleting">
  </app-modal>
</ng-container>

<ng-container *ngIf="isPayModalOpen">
  <app-modal
    [isModalOpen]="isPayModalOpen"
    [id]="'pay-budget-modal'"
    [title]="'Pay budget'"
    [description]="'How much do you want to pay? Budget is missing ' + (budgetToPay.getTotalPrice() - budgetToPay.totalPaid) + '€'"
    [templateRef]="payBudgetInput"
    [positiveBtnText]="'Pay'"
    [positiveBtnColor]="'green'"
    (positiveBtnClicked)="payBudget(budgetToPay)"
    [extraBtnText]="'Pay Full'"
    (extraBtnClicked)="payBudget(budgetToPay, true)"
    (closeBtnClicked)="isPayModalOpen = false; this.amountToPay = null"
    [actionInProgress]="paying">
  </app-modal>
</ng-container>

<ng-template #payBudgetInput>
  <app-input-number
    [placeholder]="'Amount to pay'"
    [id]="'amount'"
    [(value)]="amountToPay"
    [minValue]="0"
    [minValueErrorMessage]="'Amount must be equal or bigger than 0'"
    [maxValue]="budgetToPay.getTotalPrice() - budgetToPay.totalPaid"
    [maxValueErrorMessage]="'Amount must be equal or smaller than ' + (budgetToPay.getTotalPrice() - budgetToPay.totalPaid) + '€'"
    [classList]="'mt-3'"
  ></app-input-number>
</ng-template>
