<main>
  <div class="container px-6 mx-auto mt-8">

    <ng-container *ngIf="!loading">

      <div class="bg-white rounded-lg shadow-xs dark:bg-gray-800 p-6 mb-8">
        <form  #f="ngForm" (submit)="onSubmit()">

          <!-- Title -->
          <h3 class="flex items-center text-xl font-semibold text-gray-700 dark:text-gray-200">
            <i *ngIf="mode === 'add'" [attr.data-eva]="'file-add-outline'" class="w-6 h-6 mr-2 fill-current"></i>

            <i *ngIf="mode === 'edit'" [attr.data-eva]="'file-text-outline'" class="w-6 h-6 mr-2 fill-current"></i>

            {{mode === 'add' ? 'Create budget' : 'Edit budget'}}
          </h3>
          <hr class="my-8 dark:border-gray-600 border-1">

          <!-- Client -->
          <h3 class="tracking-wide font-semibold text-gray-700 dark:text-gray-200 mb-6">
            Client information
            <span class="mt-1 block text-sm font-light text-gray-400">Pick a client for your budget</span>
          </h3>

          <div class="grid grid-cols-1 mb-8">
            <app-input-select
              [label]="'Client'"
              [id]="'client'"
              [form]="f"
              [(value)]="clientID"
              (valueChange)="initProjects()"
              [optionsObj]="clients"
              [required]="true"
              [requiredErrorMessage]="'A client is required'"
            ></app-input-select>
          </div>

          <!-- Project -->
          <h3 class="tracking-wide font-semibold text-gray-700 dark:text-gray-200 mb-6">
            Project Information
            <span class="mt-1 block text-sm font-light text-gray-400">Pick a project for your budget</span>
          </h3>

          <div class="grid grid-cols-1 mb-8">
            <app-input-select
              [label]="'Project'"
              [id]="'project'"
              [form]="f"
              [(value)]="projectID"
              (valueChange)="initID()"
              [optionsObj]="projects"
              [disabled]="!projects"
              [required]="true"
              [requiredErrorMessage]="'A project is required'"
            ></app-input-select>
          </div>

          <!-- Budget Information -->
          <h3 class="tracking-wide font-semibold text-gray-700 dark:text-gray-200 mb-6">
            Budget Information
            <span class="mt-1 block text-sm font-light text-gray-400">Some basic information about your budget</span>
          </h3>

          <div class="sm:grid sm:grid-cols-2 sm:gap-3 mb-8">
            <!-- ID -->
            <app-input-text
              [label]="'Budget ID'"
              [placeholder]="'ID'"
              [id] = "'id'"
              [form]="f"
              [(value)] = "budget.id"
              [required]="true"
              [requiredErrorMessage]="'An ID is required'"
              [incorrectErrorMessage]="'The ID must be unique'"
              [classList]="'mb-6 sm:mb-0'"
            ></app-input-text>

            <!-- Status -->
            <app-input-select
              [label]="'Budget status'"
              [id] = "'status'"
              [form]="f"
              [(value)] = "budget.status"
              [optionsObj]="status"
            ></app-input-select>
          </div>

          <div class="text-sm grid grid-cols-1 mb-8">
            <!-- Items -->
            <label class="block font-medium text-gray-700 dark:text-gray-400 mb-1">
              Budget items <span class="text-red-600">*</span>
            </label>

            <ng-container *ngIf="data.length > 0">
              <app-table
                [id]="'budget-items-table'"
                [headers]="headers"
                [footers]="footers"
                [data]="data"
                [itemsList]="true"
                (deleteBtnClicked)="doAction('delete', $event)"
                (valueChanged)="setItem($event.row, $event.col, $event.value)">
              </app-table>
            </ng-container>

            <button class="w-full sm:w-max flex items-center justify-center mt-4 px-6 py-2.5 font-medium leading-5 text-white
                    transition-colors duration-150 bg-indigo-500 disabled:bg-cool-gray-400 border border-transparent rounded-lg active:bg-indigo-500
                    hover:bg-indigo-600 focus:outline-none focus:shadow-outline-indigo" type="button" (click)="addItem()"
                    [disabled]="!clientID || !projectID">
              Add item
              <i [attr.data-eva]="'plus'" class="w-4 h-4 ml-1 fill-current"></i>
            </button>
          </div>

          <hr class="my-8 dark:border-gray-600 border-1">

          <div class="flex items-center">
            <button class="w-full px-4 py-2.5 mr-2 font-medium leading-5 text-gray-700 dark:text-white transition-colors
                    duration-150 bg-transparent border border-transparent rounded-lg active:bg-gray-100 dark:active:bg-gray-800
                    hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray" type="reset" (click)="goBack()">
              {{mode === 'add' ? 'Discard budget' : 'Discard changes'}}
            </button>

            <button class="flex items-center justify-center w-full px-4 py-2.5 ml-2 font-medium leading-5 text-white transition-colors duration-150 bg-indigo-500
                    border border-transparent rounded-lg active:bg-indigo-500 hover:bg-indigo-600 focus:outline-none
                    focus:shadow-outline-indigo" type="submit">
              <ng-container *ngIf="processing">
                <app-spinner [size]="6" [color]="'white'" [classList]="'mr-2'"></app-spinner>
              </ng-container>
              {{mode === 'add' ? 'Create budget' : 'Save changes'}}
            </button>
          </div>

        </form>
      </div>

    </ng-container>

    <!-- Spinner -->
    <ng-container *ngIf="loading">
      <app-spinner
        [color]="'indigo'"
        [size]="8"
        [classList]="'w-full'">
      </app-spinner>
    </ng-container>

  </div>
</main>
