<main>
  <div class="container px-6 mx-auto">

    <!-- Title -->
    <h2 class="my-6 flex items-center text-2xl font-semibold text-gray-700 dark:text-gray-200">
      <i [attr.data-eva]="'file-text-outline'" class="w-6 h-6 mr-2 fill-current"></i>
      Budgets
    </h2>

    <!-- Add client btn -->
    <button class="px-5 py-3 mb-8 float-right flex items-center justify-between text-sm font-medium leading-5 text-white
                  transition-colors duration-150 bg-indigo-500 border border-transparent rounded-lg
                  active:bg-indigo-600 hover:bg-indigo-600 focus:outline-none focus:shadow-outline-indigo">
      <span>Create budget</span>

      <i [attr.data-eva]="'file-add'" class="w-5 h-5 ml-2 fill-current"></i>
    </button>

    <!-- Budgets Table -->
    <app-table
      [style]="'mb-8'"
      [headers]="headers"
      [data]="data"
      [step]="10"
      [hasNavigation]="true"
      [defaultSort]="1"
      [defaultColumnSortIndex]="2">
    </app-table>

  </div>
</main>
