<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<!-- Alerts
================================================== -->
<div class="alerts fixed top-2 right-auto sm:right-2 h-auto w-full sm:w-96 z-50 flex flex-col items-center sm:block">
  <div id="infoAlert"
       class="alert alert-info hidden border rounded p-4 w-11/12 sm:w-96 shadow mb-2 bg-blue-600 border-blue-600 hover:bg-blue-500 hover:border-blue-500 cursor-pointer"
       role="alert" onclick="$('#infoAlert').addClass('hidden');">
    <div class="flex items-center">
      <div class="alert-icon-container bg-white text-blue-600 rounded flex justify-center items-center mr-5" style="min-width: 2.5rem; min-height: 2.5rem">
        <i class="icon fill-current" data-eva="question-mark"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title text-sm font-semibold leading-6 text-white mb-0"></p>
        <p class="alert-text text-xs leading-4 text-white mb-0"></p>
      </div>
    </div>
  </div>

  <div id="warningAlert"
       class="alert alert-warning hidden border rounded p-4 w-11/12 sm:w-96 shadow mb-2 bg-yellow-600 border-yellow-600 hover:bg-yellow-500 hover:border-yellow-500 cursor-pointer"
       role="alert" onclick="$('#warningAlert').addClass('hidden');">
    <div class="flex items-center">
      <div class="alert-icon-container bg-white text-yellow-600 rounded flex justify-center items-center mr-5" style="min-width: 2.5rem; min-height: 2.5rem">
        <i class="icon fill-current" data-eva="alert-triangle-outline"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title text-sm font-semibold leading-6 text-white mb-0"></p>
        <p class="alert-text text-xs leading-4 text-white mb-0"></p>
      </div>
    </div>
  </div>

  <div id="dangerAlert"
       class="alert alert-danger hidden border rounded p-4 w-11/12 sm:w-96 shadow mb-2 bg-pink-600 border-pink-600 hover:bg-pink-500 hover:border-pink-500 cursor-pointer"
       role="alert" onclick="$('#dangerAlert').addClass('hidden');">
    <div class="flex items-center">
      <div class="alert-icon-container bg-white text-pink-600 rounded flex justify-center items-center mr-5" style="min-width: 2.5rem; min-height: 2.5rem">
        <i class="icon fill-current" data-eva="flash-outline"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title text-sm font-semibold leading-6 text-white mb-0"></p>
        <p class="alert-text text-xs leading-4 text-white mb-0"></p>
      </div>
    </div>
  </div>

  <div id="successAlert"
       class="alert alert-success hidden border rounded p-4 w-11/12 sm:w-96 shadow mb-2 bg-green-500 border-green-500 hover:bg-green-400 hover:border-green-400 cursor-pointer"
       role="alert" onclick="$('#successAlert').addClass('hidden');">
    <div class="flex items-center">
      <div class="alert-icon-container bg-white text-green-500 rounded flex justify-center items-center mr-5" style="min-width: 2.5rem; min-height: 2.5rem">
        <i class="icon fill-current" data-eva="checkmark-circle-outline"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title text-sm font-semibold leading-6 text-white mb-0"></p>
        <p class="alert-text text-xs leading-4 text-white mb-0"></p>
      </div>
    </div>
  </div>
</div>
<!-- ================================================== -->

