<!-- Backdrop [mobile] -->
<div *ngIf="mobileView" class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
     [@fade]="isSidebarOpen ? 'final' : 'initial'"></div>

<!-- Sidebar -->
<aside id="sidebar" class="h-full z-20 w-64 overflow-y-auto bg-white dark:bg-gray-800 flex-shrink-0"
       [ngClass]="{'relative': !mobileView, 'fixed inset-y-0 mt-16': mobileView,
                    'md:block': isSidebarOpen, 'md:hidden': !isSidebarOpen}"
       [@slideFromLeft]="isSidebarOpen ? 'opened' : 'closed'">

  <div class="py-4 text-gray-500 dark:text-gray-400">

    <!-- Logo -->
    <a class="mb-10 ml-4 flex font-semibold text-xl text-blue-900 dark:text-blue-200" routerLink="/">
      <img class="hidden dark:block w-6 mr-2" src="assets/logo-light.svg" alt="logo">
      <img class="dark:hidden w-6 mr-2" src="assets/logo.svg" alt="logo">
      Budget Creator
    </a>

    <!-- Menu -->
    <ul class="mt-6">
      <app-menu-item
        [label]="'Homepage'"
        [icon]="'home-outline'"
        [route]="'main'">
      </app-menu-item>

      <app-menu-item
        [label]="'Clients'"
        [icon]="'people-outline'"
        [route]="'clients'">
      </app-menu-item>

      <app-menu-item
        [label]="'Projects'"
        [icon]="'briefcase-outline'"
        [route]="'projects'">
      </app-menu-item>

      <app-menu-item
        [label]="'Budgets'"
        [icon]="'file-text-outline'"
        [items]="[
          {label: 'Create budget', route: 'budget/add'},
          {label: 'Manage budgets', route: 'budget/manage'}
        ]"
        [routes]="['budget/add', 'budget/manage']">
      </app-menu-item>

      <app-menu-item
        [label]="'Statistics'"
        [icon]="'activity-outline'"
        [route]="'statistics'">
      </app-menu-item>
    </ul>

    <!-- Actions -->
    <div class="px-6 my-6">

      <button class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white
      transition-colors duration-150 bg-indigo-500 border border-transparent rounded-lg active:bg-indigo-600
      hover:bg-indigo-600 focus:outline-none focus:shadow-outline-indigo">
        New budget
        <span class="ml-2" aria-hidden="true">+</span>
      </button>

    </div>

  </div>
</aside>
