<td *ngIf="type === tableDataType.TEXT" class="px-4 py-3 text-sm">
  {{text ? text : ''}}
</td>

<td *ngIf="type === tableDataType.MONEY" class="px-4 py-3 text-sm">
  {{money ? formatMoney(money) + ' €' : ''}}
</td>

<td *ngIf="type === tableDataType.AVATAR" class="px-4 py-3">
  <div class="flex items-center text-sm">

    <!-- Avatar with inset shadow -->
    <div class="relative hidden w-8 h-8 rounded-full md:block"
         [ngClass]="{'mr-3': avatarName || avatarText}">
      <img *ngIf="avatarSrc"
        class="object-cover w-full h-full rounded-full"
        src="{{avatarSrc}}"
        alt="avatar"
        loading="lazy"
      />
      <div *ngIf="!avatarSrc" class="relative w-full h-full rounded-full bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-600">
        <span class="text-sm absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          {{avatarName.split(' ')[0][0].toUpperCase()}}{{avatarName.split(' ').pop()[0].toUpperCase()}}
        </span>
      </div>
      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
    </div>

    <div>
      <!-- Name -->
      <p class="font-semibold">{{avatarName ? avatarName : ''}}</p>

      <!-- Text -->
      <p class="text-xs text-gray-600 dark:text-gray-400">
        {{avatarText ? avatarText : ''}}
      </p>
    </div>

  </div>
</td>

<td *ngIf="type === tableDataType.PILL" class="px-4 py-3 text-xs">
  <span class="px-2 py-1 font-semibold leading-tight text-center text-{{pillColor}}-700 bg-{{pillColor}}-100 rounded-full
              dark:bg-{{pillColor}}-700 dark:text-{{pillColor}}-100">
    {{pillText}}
  </span>
</td>

<td *ngIf="type === tableDataType.DATE" class="px-4 py-3 text-sm">
  {{date ? date.toLocaleDateString() : ''}}
</td>

<td *ngIf="type === tableDataType.BUTTON" class="flex px-4 py-3 text-sm">
  <button *ngIf="showButton(buttonText)"
    class="cursor-pointer flex items-center justify-center w-full px-4 py-2 font-medium leading-5 text-{{buttonColor}}-500
    dark:text-{{buttonColor}}-200 transition-colors duration-150 bg-{{buttonColor}}-100
    dark:bg-{{buttonColor}}-800 border border-{{buttonColor}}-500 rounded-lg
    active:bg-{{buttonColor}}-200 dark:active:bg-{{buttonColor}}-700 hover:bg-{{buttonColor}}-200
    dark:hover:bg-{{buttonColor}}-700 focus:outline-none focus:shadow-outline-{{buttonColor}}"
          (click)="btnClicked.emit()">
    <i [attr.data-eva]="buttonIcon" class="w-5 h-5 mr-2 -ml-1 fill-current"></i>
    <span>{{buttonText}}</span>
  </button>
</td>

<td *ngIf="type === tableDataType.ACTIONS" class="px-4 py-3">
  <div class="flex items-center space-x-4 text-sm">

    <button *ngIf="actions.includes('view')" class="flex items-center justify-between px-2 py-2 text-sm font-medium
                  leading-5 text-indigo-500 rounded-lg
                  dark:text-indigo-400 focus:outline-none focus:shadow-outline-indigo" aria-label="Edit"
                  (click)="viewBtnClicked.emit()" type="button">
      <svg class="h-5 w-5" aria-hidden="true" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
        <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
      </svg>
    </button>

    <button *ngIf="actions.includes('edit')" class="flex items-center justify-between px-2 py-2 text-sm font-medium
                  leading-5 text-yellow-500 rounded-lg
                  dark:text-yellow-400 focus:outline-none focus:shadow-outline-yellow" aria-label="Edit"
                  (click)="editBtnClicked.emit()" type="button">
      <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
      </svg>
    </button>

    <button *ngIf="actions.includes('delete')" class="flex items-center justify-between px-2 py-2 text-sm font-medium
                  leading-5 text-red-500 rounded-lg
                  dark:text-red-400 focus:outline-none focus:shadow-outline-red" aria-label="Delete"
                  (click)="deleteBtnClicked.emit()" type="button">
      <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>

  </div>
</td>

<td *ngIf="type === tableDataType.INPUT_TEXT" class="flex items-center w-full px-4 py-3 text-sm">
  <app-input-text [ngStyle]="{'width': '100%'}"
    [classList]="'w-full'"
    [id] = "this.input.id"
    [form]="this.input.form"
    [(value)] = "this.input.value"
    (valueChange)="valueChanged.emit(this.input.value)"
    [placeholder]="this.input.placeholder"
    [disabled]="this.input.disabled"
    [required]="this.input.required"
    [minLength]="this.input.minLength"
    [maxLength]="this.input.maxLength"
    [requiredErrorMessage]="this.input.requiredErrorMessage"
    [minLengthErrorMessage]="this.input.minLengthErrorMessage"
    [maxLengthErrorMessage]="this.input.maxLengthErrorMessage"
  ></app-input-text>
</td>

<td *ngIf="type === tableDataType.INPUT_NUMBER" class="px-4 py-3 text-sm">
  <app-input-number
    [id] = "this.input.id"
    [form]="this.input.form"
    [(value)] = "this.input.value"
    (valueChange)="valueChanged.emit(this.input.value)"
    [placeholder]="this.input.placeholder"
    [disabled]="this.input.disabled"
    [required]="this.input.required"
    [minValue]="this.input.minValue"
    [maxValue]="this.input.maxValue"
    [requiredErrorMessage]="this.input.requiredErrorMessage"
    [minValueErrorMessage]="this.input.minValueErrorMessage"
    [maxValueErrorMessage]="this.input.maxValueErrorMessage"
  ></app-input-number>
</td>
