<li class="relative">
  <button class="align-middle rounded-full focus:shadow-outline-indigo focus:outline-none"
    (click)="this.isProfileMenuOpen = !this.isProfileMenuOpen" aria-label="Account" aria-haspopup="true" #toggleBtn>

    <img class="object-cover w-8 h-8 rounded-full" src="{{getAvatar()}}" aria-hidden="true"/>
  </button>

  <!-- Menu -->
  <ul class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
      [@appear]="isProfileMenuOpen ? 'opened' : 'closed'" #menu>

    <li class="flex">
      <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
          routerLink="./">
        <i data-eva="person-outline" class="w-4 h-4 mr-3 fill-current"></i>
        <span>Profile</span>
      </a>
    </li>

    <li class="flex">
      <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
         routerLink="./">
        <i data-eva="settings-2-outline" class="w-4 h-4 mr-3 fill-current"></i>
        <span>Settings</span>
      </a>
    </li>

    <li class="flex" (click)="logout()">
      <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
         routerLink="./">
        <i data-eva="log-out-outline" class="w-4 h-4 mr-3 fill-current"></i>
        <span>Log out</span>
      </a>
    </li>

  </ul>
</li>
