<main>
  <div class="container px-6 mx-auto">

    <!-- Title -->
    <h2 class="my-6 flex items-center text-2xl font-semibold text-gray-700 dark:text-gray-200">
      <i [attr.data-eva]="'home-outline'" class="w-6 h-6 mr-2 fill-current"></i>
      Dashboard
    </h2>

    <!-- CTA -->
    <a class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-indigo-100 bg-indigo-500
              rounded-lg shadow-md focus:outline-none focus:shadow-outline-indigo"
      href="https://github.com/bernardocmarques/bcm-budget-creator" target="_blank">
      <div class="flex items-center">
        <i [attr.data-eva]="'star'" class="w-5 h-5 fill-current mr-2"></i>
        <span>Star this project on GitHub</span>
      </div>
      <span class="flex items-center">View more <i [attr.data-eva]="'arrow-forward'" class="w-5 h-5 fill-current ml-1"></i></span>
    </a>

    <!-- Cards -->
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">

      <app-card
        [iconSVG]="completedSVG"
        [color]="'orange'"
        [title]="'Projects completed'"
        [subtitle]="formatNumber(cards.projects.value)"
        [loading]="cards.projects.loader">
      </app-card>

      <div class="cursor-pointer" [routerLink]="'/dashboard/statistics'">
        <app-card
          [iconSVG]="moneySVG"
          [color]="'green'"
          [title]="'Total earnings'"
          [subtitle]="formatNumber(cards.earnings.value) + ' €'"
          [loading]="cards.earnings.loader">
        </app-card>
      </div>

      <div class="cursor-pointer" [routerLink]="'/dashboard/clients'">
        <app-card
          [iconSVG]="peopleSVG"
          [color]="'teal'"
          [title]="'Total clients'"
          [subtitle]="formatNumber(cards.clients.value)"
          [loading]="cards.clients.loader">
        </app-card>
      </div>

      <app-card
        [icon]="'clock'"
        [color]="'pink'"
        [title]="'Pending payments'"
        [subtitle]="formatNumber(cards.pending.value)"
        [loading]="cards.pending.loader">
      </app-card>

    </div>

    <!-- Recent Activity Table -->
    <app-table
      [id]="'recent-activity-table'"
      [classList]="'mb-8'"
      [headers]="headers"
      [data]="data"
      [step]="10"
      [hasNavigation]="true"
      [defaultSort]="-1"
      [defaultColumnSortIndex]="4">
    </app-table>

  </div>
</main>
